@media all and (max-width: 720px) {
	#suzuki > .ui-block-a,
	#suzuki > .ui-block-b
	 {
		width: 100%;
	}	
}
/*
@media all and (min-width: 721px) {
  nav {
   
    width: 100%;
  }
}

@media all and (max-width: 720px) {
  nav {
    
     width: 100%;
  }
} */