@media all and (max-width: 720px) {
	/* #suzuki .ui-block-a,
	#suzuki .ui-block-b */
	#suzuki > main .ui-block-a,
	#suzuki > main .ui-block-b
	 {
		width: 100%;
	}	
}

.ui-btn-active {
	background-color: yellow;
}

main {
	padding: 10px;
}

#suzswipe {
	width: 300px;
	height: 200px;
	border: black 1px solid;
	background-repeat: no-repeat;
}

/* left swipe */
/* food image */
.one {
	background-image: url(http://lorempixel.com/300/200/food/1);
}
/* right swipe */
/* sports */
.two {
	background-image: url(http://lorempixel.com/300/200/sports/1);
}
/* taphold */
/* something techie */
.three {
	background-image: url(http://lorempixel.com/300/200/technics/1);
}
/* horizontal orientation */
.four {
	background-image: url(http://lorempixel.com/300/200/nature/1);
}
/* vertical orientation */
.five {
	background-image: url(http://lorempixel.com/300/200/people/1);
}


/*
@media all and (min-width: 721px) {
  nav {
   
    width: 100%;
  }
}

@media all and (max-width: 720px) {
  nav {
    
     width: 100%;
  }
} */